{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    
    <head>
        <meta charset="utf-8" />
        <title>Ganjalust | Its 420</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'imgs/theme/logo.png' %}" />
        <!-- Template CSS -->
        <link rel="stylesheet" href="{% static 'css/plugins/animate.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    </head>
    
    <body>
        
        {% include 'navbar.html' %}
        {% block  content %}
        {% endblock   %}

    {% include 'footer.html' %}


        <!-- Vendor JS-->
        <script src="{% static 'js/vendor/modernizr-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
        <script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/plugins/slick.js' %}"></script>
        <script src="{% static 'js/plugins/jquery.syotimer.min.js' %}"></script>
        <script src="{% static 'js/plugins/waypoints.js' %}"></script>
        <script src="{% static 'js/plugins/wow.js' %}"></script>
        <script src="{% static 'js/plugins/perfect-scrollbar.js' %}"></script>
        <script src="{% static 'js/plugins/magnific-popup.js' %}"></script>
        <script src="{% static 'js/plugins/select2.min.js' %}"></script>
        <script src="{% static 'js/plugins/counterup.js' %}"></script>
        <script src="{% static 'js/plugins/jquery.countdown.min.js' %}"></script>
        <script src="{% static 'js/plugins/images-loaded.js' %}"></script>
        <script src="{% static 'js/plugins/isotope.js' %}"></script>
        <script src="{% static 'js/plugins/scrollup.js' %}"></script>
        <script src="{% static 'js/plugins/jquery.vticker-min.js' %}"></script>
        <script src="{% static 'js/plugins/jquery.theia.sticky.js' %}"></script>
        <script src="{% static 'js/plugins/jquery.elevatezoom.js' %}"></script>
        <!-- Template  JS -->
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/shop.js' %}"></script>
    </body>
    
    </html>